<div class="container">
  <h1>New item</h1>
  <form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nameInput">Name</label>

      <input
        type="text"
        class="form-control"
        id="nameInput"
        placeholder="Enter item name"
        formControlName="name"
      />
      <small id="NameHelp" class="form-text text-muted">
        We'll never share your item name with anyone else.
      </small>
    </div>
    <div class="form-group">
      <label for="quantityInput">
        Quantity:
        <input
          type="number"
          class="form-control"
          formControlName="quantity"
          id="quantityInput"
          placeholder="Enter quantity here"
      /></label>
    </div>
    <div class="form-group">
      <label for="descriptionInput">
        Description:
        <textarea
          class="form-control"
          formControlName="description"
          id="descriptionInput"
          placeholder="Enter description here"
        ></textarea
      ></label>
    </div>
    <button type="button" class="btn btn-secondary" (click)="get()">HttpGet</button>
    <button type="button" class="btn btn-secondary" (click)="save()">HttpPost</button>
    <button type="button" class="btn btn-secondary" (click)="update()">HttpPut</button>
    <button type="button" class="btn btn-secondary" (click)="delete()">HttpDelete</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr />
  <div class="row ">
    <div class="col">
      <h2>Name</h2>
    </div>
    <div class="col">
      <h2>Quantity</h2>
    </div>
    <div class="col">
      <h2>Description</h2>
    </div>
  </div>
  <app-inventory-item *ngFor="let item of items" [item]="item">
  </app-inventory-item>
</div>
